body {
    background: cyan;
    color:black;
    display: flex;
}

header{
    text-align: center;
    font-size: 50px;
    border-bottom: solid 2px red;
    margin-left: 80;
    margin-right: 80;
}

