body {
    background: cyan;
    color:black;
    margin: 0;
}

header{
    text-align: center;
    font-size: 50px;
    border-bottom: solid 2px red;
    margin-left: 80;
    margin-right: 80;
    font-family: "Dancing Script", cursive;
}

.chamada {
    display: flex;
    background-color: darkolivegreen;
    padding-bottom: 80px;
    padding-top: 70px;
    margin-top: 20px;
    justify-content: center;
    font-family: "IBM Plex Mono", monospace;
}

.chamada-texto{
    margin-right: 8%;
}

img {
    width: 150px;
    height: 200px;
}

.outrasRomendacoes {
justify-content: center;
padding: 50px;

}

.outrasRomendacoes h2 {
    text-align: center;
    font-size: 20px;
    color: brown;
}

.filmes {
    overflow-x: auto;
    gap: 15px;
    display: flex;
}

.outrasRomendacoes img{
    opacity: 0.6;
}

.outrasRomendacoes img:hover {
    opacity: 1.0;
    border: solid 2px white;
}